---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import {
  name,
  mail,
  github,
  linkedin,
  description,
  minor_description,
  title_description,
  meta_description,
  address,
  experience_time,
  aviable_work,
} from "../data/porfolio_data.json";
import Header from "../components/Header.astro";
import Tags, { TAGS } from "../components/Tags.astro";
---

<Layout
  title={`Porfolio de ${name} - ${title_description}`}
  description={`${meta_description}`}
>
  <Header />
  <main class="px-4 max-w-[740px] m-auto">
    <SectionContainer class="flex flex-col justify-center">
      <h1
        class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10 animate-slide-in-fwd-top"
      >
        Hola, soy
        <div class="relative group">
          <span class="absolute group-hover:animate-ping text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-indigo-600
          group-hover:from-sky-500 group-hover:to-cyan-600">{name}</span>
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-indigo-600">{name}</span>
        </div>
        <a
          class="flex justify-center items-center"
          href={linkedin}
          target="_blank"
          rel="noopener"
          ><Badge {aviable_work} />
        </a>
      </h1>
      <h2 class="text-xl text-wrap animate-slide-in-fwd-left">
        {experience_time && <span>+{experience_time} de experiencia.</span>}
        <span class="text-amber-200/90">{`${description}.`}</span>
        <span class="text-cyan-400/90">De {`${address}.`}</span>
        <span class="opacity-80">{`${minor_description}.`}</span>
      </h2>
      <nav class="flex gap-x-4 mt-8 animate-slide-in-fwd-bottom">
        {
          linkedin && (
            <SocialPill href={linkedin}>
              <LinkedInIcon class="size-6" />
              LinkedIn
            </SocialPill>
          )
        }
        {
          github && (
            <SocialPill href={github}>
              <GitHubIcon class="size-6" />
              Github
            </SocialPill>
          )
        }
        <SocialPill href="#sobre-mi" target="">
          <MailIcon class="size-6" />
          CV
        </SocialPill>
        {
          mail && (
            <SocialPill href="#contacto" target="">
              <MailIcon class="size-6" />
              {mail}
            </SocialPill>
          )
        }
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-2xl font-semibold mb-8 flex flex-row gap-x-3 items-center"
      >
        <BriefcaseIcon class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-2xl font-semibold mb-8 flex flex-row gap-x-3 items-center"
      >
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <div class="columns-1 sm:columns-2 gap-3">
        <Projects />
      </div>
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="text-2xl font-semibold mb-8 flex flex-row gap-x-3 items-center"
      >
        <CodeIcon class="size-8" />
        Sobre Mí
      </h2>
    </SectionContainer>
    <SectionContainer id="habilidades">
      <h2
        class="text-2xl font-semibold mb-8 flex flex-row gap-x-3 items-center"
      >
        <CodeIcon class="size-8" />
        Habilidades
      </h2>
      <nav class="flex flex-row gap-4 flex-wrap justify-center items-center">
        {Object.keys(TAGS).map((tag) => <Tags tag={tag} />)}
      </nav>
    </SectionContainer>
    <SectionContainer id="contacto">
      <h2
        class="text-2xl font-semibold mb-8 flex flex-row gap-x-3 items-center"
      >
        <CodeIcon class="size-8" />
        Contacto
      </h2>
    </SectionContainer>
  </main>
</Layout>
